@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    position: relative;
    box-sizing: border-box;
}
html , body{
    font-family: 'Nunito Sans',  sans-serif;
}

input:focus {
    outline: none;
}
.lightMode__shadow{
    box-shadow: 0 0 6px -1px #C4C4C4;
}
.toggle{
    display: block;
    cursor: pointer;
    background-color: #9b9a9a;
    width: 50px;
    height: 26px;
    border-radius: 30px;
}
.toggle::after{
    content: '';
    width: 20px;
    height: 20px;
    clip-path: circle(50%);
    background-color: #ffffff;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: 0.3s;
}
input:checked + .toggle::after{
    left: calc( 100% - 3px );
    transform: translateX(-100%);
    background-color: #2B3844;
}
/* === 首頁設定 === */
/* --- 國家國旗的大小一致設定 --- */
.flag{
    width: 100%;
    padding-top: 60%;
}

/* --- 國家的hover效果 --- */
.country__briefIntro--hover:hover{
    border: 2px solid #9b9a9a;
}
.country__briefIntro--hover:hover h1{
    text-decoration-line: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}

/* --- 選項設定 --- */
.select{
    appearance: none;
}

/* --- 資料顯示設定 --- */
.country__detailInfo p{
    font-weight: 600;
}

.country__detailInfo span{
    font-weight: 300;
}

.country__detailInfo-button{
    min-width: 96px;
    padding: 0px 16px;
    height: 28px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 28px;
    box-shadow: #c9c9c9 0 0 3px 1px;
}

/* --- 載入圖案顯示 --- */
.loader{
    font-size: 36px;
    color: var(--text);
    display: inline-block;
    font-weight: 600;
    position: relative;
}
.loader:before{
    content: '';
    animation: 3s print linear forwards infinite;
}

@keyframes print {
    0% { content: 'L'}
    10% { content: 'Lo'}
    20% { content: 'Loa'}
    30% { content: 'Load'}
    40% { content: 'Loadi'}
    50% { content: 'Loadin'}
    60% { content: 'Loading'}
    70% { content: 'Loading.'}
    80% { content: 'Loading..'}
    90% , 100% { content: 'Loading...'}
}

@media (prefers-color-scheme: dark) {
    body{
        background-color: #202C36;
    }
}